body {
  font-family: "Helvetica Neue",Helvetica,Arial,serif;
  background-color: rgb(51, 51, 51);
  color: #eee;
  margin: 0; padding: 0;
}

h1 {
  font-family: Tahoma, sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 6px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color: #333;
}

h1 span {
  font-size: larger;
  font-weight: normal;
  color: #666;
}

section {
  display: flex;
  justify-content: center;
  margin: 16px;
}

section#About {
  display: block;
}

#Start {
  align-items: center;
}

nav button {
  display: inline-block;
  color: #fff;
  background-color: #229af7;
  border-color: #0079d6;
  font-size: 20px;
  padding: 10px;
  border-width: 1px;
  cursor: pointer;
}

nav button.active {
  background-color: transparent;
  font-weight: bolder;
}

section button {
  font-size: larger;
  width: 70%;
  color: #fff;
  background-color: #0079d6;
  border-color: #0079d6;
  font-size: 20px;
  padding: 10px;
  border-radius: 4px;
  border-width: 1px;
  cursor: pointer;
}

section button:hover, section button:active {
  background-color: #2289e6;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  display: inline-block;
}
